body{
    background-color: aqua;
}
#i1{
    background-color: antiquewhite;
    color: aquamarine;
}
#i2{
    background-color: bisque;
    color: black;
}
#i3{
    background-color: blue;
    color: blueviolet;
}
#i4{
    background-color: blueviolet;
    color: bisque;
}
#i5{
    background-color: brown;
    color: blanchedalmond;
}
